body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#register .container #register-row #register-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
}

body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:190px;
    margin-left:200px;
}

body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:70px;
}

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}

.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://i.imgur.com/h26izWg.jpg');
    background-repeat:repeat;
}

body
{
    background-color: #1b1b1b;
    padding-top: 40px;
}
.form-signin {
    max-width: 280px;
    padding: 15px;
    margin:100px;
    margin-top:190px;
    margin-left:200px;
}

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://i.imgur.com/aFs5QmP.jpg');
    background-repeat:repeat;
}